body{
background-color: #1C1F18;
}
#top{
	background-image:url("http://kotda.pl/resources/images/page/top.png");
	height:300px;
}
#page{
	margin: 0 auto;
	width: 1067px;
	font-family: 'Wellfleet';
	font-size:14px;
}
#content{
	padding: 50px;
	display: block;
	background-color: #2A381C;
	color: #BEFF79;
}
footer{
	margin-top: 20px;
	padding: 10px;
	padding-left: 50px;
	color: #606060;
	background-color: #B6CC9E;
}
