body{
background-color: #1e1f18;
}
#top{
	display: block;
	background-image:url("http://kotda.pl/resources/images/page/top.png");
	height:300px;
}
#page{
	margin: 0 auto;
	width: 1067px;
}
#content{
	display: block;
	background-color: #767F3C;
	height: 300px;
}
