body{
background-color: #C5CC9E;
}
#top{
	display: block;
	background-image:url("http://kotda.pl/resources/images/page/top.png");
	height:300px;
}
#page{
	margin: 0 auto;
	width: 1067px;
}
#content{
	display: block;
	background-color: #767F3C;
}
